* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    cursor: none !important;
}

@font-face {
  font-family: "JRK";
  src: url("/static/JRK.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --black: #282828;
  --darkgray: #545656;
  --lightgray: #b6babc;
  --white: #f7f7f7;
  --red: #f5451d;
}

::selection {
  color: var(--white);
  background-color: var(--red);
}

body,
html {
  height: 100%;
  font-family: "Space Grotesk", Arial, sans-serif, "JRK";
  font-weight: 400;
  background-color: #eeeeee;
  margin: 0;
  overflow: hidden;
}



.cursor-default,
.cursor-pointer {
  position: fixed;
  pointer-events: none; /* 클릭 방지 */
  top: 0;
  left: 0;
  z-index: 11000;
  display: none; /* 기본은 안보이게 시작 */
  transform: translate(-50%, -50%);
}

.background-wrapper {
  z-index: 0;
}

.testTitle {
  position: absolute;
  width: 1400px;
  top: -6%;
  left: 50%;
  transform: translateX(-50%) scaleY(1);
  transform-origin: top;
  z-index: 100;
  font-family: "JRK", sans-serif;
  font-size: 460px;
  align-self: center;
  text-align: center;
  color: white;
  mix-blend-mode: exclusion;
  transition: transform 0.3s ease;
  letter-spacing: -15px; /* 필요 시 더 줄일 수 있음 */
  display: inline-block;
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.container {
  display: flex;
  flex-direction: row;
  height: 88vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* 가운데 정렬 */
  user-select: none; /* Standard syntax */
}

.original-image {
  width: 100%;
  background-color: var(--lightgray);
  aspect-ratio: 1 / 1; /* 초기 정사각형 */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  transition: height 0.3s ease;
}

.original-image.loaded {
  aspect-ratio: auto; /* 이미지가 로딩되면 비율 해제 */
  height: auto;
}

.original-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.processed-image-wrapper {
  position: relative;
}

.processed-image {
  width: 100%;
  background-color: var(--darkgray);
  aspect-ratio: 1 / 1; /* 초기 정사각형 */
  display: flex;
  position: relative;
  overflow: hidden;
  transition: height 0.3s ease;
}

.processed-image.loaded {
  aspect-ratio: auto; /* 이미지가 로딩되면 비율 해제 */
  height: auto;
}

.processed-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 텍스트 공통 스타일 */
.status-text {
  margin:14px;
  display: none;
  position: absolute;

  font-family: "Space Grotesk";
  font-size: 14px;
  font-weight: 300;
}

.status-text.loading {
  color: var(--lightgray);
}

.status-text.error {
  color: var(--red);
}

/* 이미지 레이어 공통 */
.image-layer {
  width: 100%;
  display: none;
  position: relative;
}

/* 이미지별 z-index */
.image-layer.baseImage {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  border-color: var(--darkgray);
}

.image-layer.saliency {
  z-index: 3;
  opacity: 70%;
  position: absolute;
  top: 0;
  left: 0;
}

.image-layer.viewpoint {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
}

.image-layer.centerline {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}

.image-layer.focusmask {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.image-layer.shapes {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

/* 실제 이미지가 들어오면 placeholder 제거 */
.original-image.has-image,
.processed-image.has-image {
  border: none;
  background-size: cover;
  background-position: center;
  color: transparent;
}

.icon-wrapper {
  z-index: 100;
  background-color: black;
}

.icon-wrapper.plus {
  position: absolute;
  top: 50%;
}

.icon-wrapper.download {
  position: absolute;
  top: 50%;
}

.icon-group {
  position: absolute;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: transparent;
}

.icon-line {
  position: absolute;
  height: 0;
  border: 2px solid var(--red);
  transition: all 0.4s ease;
}

/* Line default (plus state) */
.plus .line-1 {
  width: 48px;
  top: 50%;
  left: 0%;
  transform: rotate(90deg);
}

.plus .line-2 {
  width: 48px;
  top: 50%;
  left: 0%;

  transform: rotate(90deg);
}

.plus .line-3 {
  width: 24px;
  left: 0px;
  top: 24px;
  transform: rotate(180deg);
}

.plus .line-4 {
  width: 14px;
  left: 32px;
  top: 24px;
  transform: rotate(180deg);
}

/* Load 상태일 때 위치 변경 */
.plusLoad .line-1 {
  width: 36px;
  left: -18px;
  top: 30px;

  transform: rotate(90deg);
}

.plusLoad .line-2 {
  width: 46px;
  left: 50%;
  top: 50%;
  transform: rotate(90deg);
}

.plusLoad .line-3 {
  width: 48px;
  left: 0px;
  top: 46px;

  transform: rotate(180deg);
}

.plusLoad .line-4 {
  width: 32px;
  left: 17px;
  top: 0%;
  transform: rotate(180deg);
}

/*=========================*/
/*=========================*/
/*=========================*/

.download .line-1 {
  width: 18px;
  left: -7px;
  top: 37px;
  transform: rotate(90deg);
}

.download .line-2 {
  width: 18px;
  left: 38px;
  top: 37px;
  transform: rotate(90deg);
}

.download .line-3 {
  width: 12px;
  left: 28px;
  top: 24px;
  transform: rotate(135deg);
}

.download .line-4 {
  width: 36px;
  left: 10px;
  top: 44px;
  transform: rotate(-180deg);
}

.download .line-5 {
  width: 34px;
  left: 8px;
  top: 16px;
  transform: rotate(90deg);
}

.download .line-6 {
  width: 20px;
  left: 9px;
  top: 26px;
  transform: rotate(45deg);
}

/*=========================*/

.download-load .line-1 {
  width: 36px;
  left: -18px;
  top: 30px;
  transform: rotate(90deg);
}

.download-load .line-2 {
  width: 46px;
  left: 50%;
  top: 50%;
  transform: rotate(90deg);
}

.download-load .line-3 {
  width: 46px;
  left: 50%;
  top: 50%;
  transform: rotate(90deg);
}

.download-load .line-4 {
  width: 48px;
  left: 0px;
  top: 46px;
  transform: rotate(-180deg);
}

.download-load .line-5 {
  width: 32px;
  left: 17px;
  top: 0%;
  transform: rotate(180deg);
}

.download-load .line-6 {
  width: 36px;
  left: -18px;
  top: 30px;
  transform: rotate(90deg);
}

/*=========================*/

.download-check .line-1 {
  width: 36px;
  left: -18px;
  top: 30px;
  transform: rotate(90deg);
}

.download-check .line-2 {
  width: 46px;
  left: 50%;
  top: 50%;
  transform: rotate(90deg);
}

.download-check .line-3 {
  width: 23px;
  left: 19px;
  top: 22px;
  transform: rotate(135deg);
}

.download-check .line-4 {
  width: 48px;
  left: 0px;
  top: 46px;
  transform: rotate(-180deg);
}

.download-check .line-5 {
  width: 32px;
  left: 17px;
  top: 0%;
  transform: rotate(180deg);
}

.download-check .line-6 {
  width: 14px;
  left: 7px;
  top: 30px;
  transform: rotate(45deg);
}

.image-slider-wrapper {
  width: 1400px;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  overflow: hidden;
  z-index: 2;
    pointer-events: none; /* 내부 요소 클릭 막지 않기 위해 */

}

.slide-track {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 1s ease-in-out;
  margin: 0 20px 0 20px;
  background-color: transparent;
}

.image-slide {
  width: 660px;
  height: 100%;
  margin: 0;
  display: block;
}

.left-column,
.right-column {
  overflow: hidden;
  height: 100vh; /* 화면 높이 기준 */
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.left-color{
  position: absolute;
  width:660px;
  height:100%;
  background-color: var(--lightgray);
  z-index: -10;
}

.right-color{
  position: absolute;
  width:660px;
  height:100%;
  background-color: var(--darkgray);
  z-index: -10;
}

.header,
.footer,
.center {
  position: absolute;
  width: 1400px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  transition: height 0.3s ease;
  height: 60px;
  display: flex;
  padding: 0 20px 0 20px;
  gap: 40px; /* 두 column 사이 간격 */
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

.center {
  top: 0;
    pointer-events: none; /* 내부 요소 클릭 막지 않기 위해 */

}

.header-left,
.footer-left {
  flex: 1;
  background-color: rgba(247, 247, 247, 0.75);
  transition: height 0.3s ease;
}

.header-right,
.footer-right {
  flex: 1;
  background-color: rgba(40, 40, 40, 0.75);
  transition: height 0.3s ease;
}

.safe-line {
  position: absolute;
  top: 0;
  width: 3px;
  background: var(--red); /* 또는 원하는 색 */
}

.left-line {
  left: 0;
}

.right-line {
  right: 0;
}

.center-line {
  left: 50%;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-item {
  position: relative;
  width: calc(100% / 3); /* 3개씩 한 줄 */
  height: calc(100% / 2); /* 3개씩 한 줄 */

  background-color: transparent;
  padding: 10px 16px 10px 16px;
  color: white;
  text-align: left;
  font-size: 18px;
  font-family: "Space Grotesk";
  font-weight: 700;
  cursor: pointer;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 세로 방향 위쪽 정렬 */
  align-items: flex-start; /* 가로 방향 왼쪽 정렬 */
  text-align: left;
}

/*
.filter-item:hover {
  background-color: rgba(142, 54, 34);
}

.filter-item.selected {
  background-color: rgb(23, 23, 23);
}
*/

.filter-item .description {
  font-size: 14px;
  font-weight: 300;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
  overflow: hidden;
  margin-top: 4px;
  color: #ccc;
}

.filter-line {
  position: absolute;
  top: 0;
  width: 3px;
  background: var(--red); /* 또는 원하는 색 */
}

.rightright-line {
  top: 13px;
  right: 0;
}

.top-line {
  width: 204px;
  height: 3px;
}

.filter-item:last-child:hover {
  pointer-events: none;
  background: none; /* 기존 hover 배경 제거 */
}


.filter-highlight{

  border: 2px solid var(--red);
}


.rect-label {
  position: absolute;
  top: -10px;
  left: -10px;
  width:100%;
  height:22px;
  margin-top: 13px;
  margin-left:10px;
  padding: 2px 6px;

  border: 3px solid var(--red);
  z-index: 10000;
  pointer-events: none;
}


.label-name {
  font-size: 12px;
  width: 24px;
  background: var(--red);
  color: white;
  padding: 2px 4px;
  margin-left: -9px; /* ← 네모 바깥 왼쪽으로 삐져나오게 */
  transform: translateY(-120%); /* ← 네모 위로 이동 */
}

.label {
  position: relative;
}

.label-text {
  position: relative;
  z-index: 9999;
  padding: 2px 4px;
}


#filter-line-connector {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 120; /* .rect-label보다 낮아야 보임 */
}

#filter-line-connector line {
  stroke: var(--red);
  stroke-width: 3;
}



.label-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.label-box {
  flex-direction: column;
  justify-content: flex-start; /* 세로 방향 위쪽 정렬 */
  align-items: flex-start; /* 가로 방향 왼쪽 정렬 */
  text-align: left;
  padding: 10px 16px;
  text-align: left;
  background-color: transparent;
  color: var(--black);
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 700;
  display: flex;
  cursor: default;
  word-break: break-word;
  transition: all 0.3s ease;
}

.label-box .description {
  font-size: 14px;
  font-weight: 300;
  opacity: 1; /* 기본 표시됨 */
  max-height: 36px; /* 표시 제한 */
  overflow: hidden;
  margin-top: 4px;
  color: var(--black);
}

.howto {
  flex: 2;
}

.info {
  flex: 1;
}

.leftbox-right-line {
  top: 13px;
  left: 445px;
  position: absolute;

  width: 3px;
  background: var(--red); /* 또는 원하는 색 */
}

.label-box .description {
  font-size: 14px;
  font-weight: 300;
  max-height: 120px;
  margin-top: 4px;
  color: var(--black);
}

.leftPlaceholder {
  height: 400px;
  background-color: var(--lightgray);
}

.rightPlaceholder {
  height: 400px;
  background-color: var(--darkgray);
}

/* 전체화면 오버레이 */
.image-overlay {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1360px;
  height: 100vh;
  background: rgba(247, 247, 247, 0.7);
  backdrop-filter: blur(32px);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
}

.image-overlay img {
  max-width: 1400px;
  max-height: 100vh;
  object-fit: contain;
}


.image-slide,
.original-image,
.processed-image-wrapper,
.processed-image-wrapper img,
.original-image img {
  pointer-events: auto; /* 클릭 가능하게 */
}