<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Image Objectifier</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="background-wrapper">
      <div class="header">
        <div class="safe-line left-line"></div>
        <div class="safe-line right-line"></div>
        <div class="header-left"></div>
        <div class="header-right"></div>
      </div>

      <div class="image-slider-wrapper">
        <div class="image-column left-column">
          <div class="slide-track"></div>
          <div class="left-color"></div>
        </div>
        <div class="image-column right-column">
          <div class="slide-track"></div>
          <div class="right-color"></div>
        </div>
      </div>

      <div class="center">
        <div class="safe-line left-line"></div>
        <div class="safe-line right-line"></div>
        <div class="safe-line center-line"></div>
      </div>

      <div class="footer">
        <div class="safe-line left-line"></div>
        <div class="safe-line right-line"></div>
        <div class="safe-line center-line"></div>
        <div class="footer-left">
          <div class="label-container">
            <div class="label-box howto">
              <div class="label">How to Objectify</div>
              <div class="description">
                Discover how your visuals speak — from photos and posters to
                video thumbnails.<br />
                Will the moment you chose catch someone else’s eye?<br />
                Let’s dive into the craft of making images that resonate.
              </div>
              <div class="leftbox-right-line"></div>
            </div>
            <div class="label-box info">
              <div class="label">Info</div>

              <div class="description">
                If error occurs ☞ @tpwjd1355@snu.ac.kr<br />
                <br />
                <a
                  href="https://yisssss.github.io/UIDesign1/"
                  target="_blank"
                  style="color: var(--darkgray); text-decoration: underline"
                  >Visit project site</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="footer-right">
          <div class="filter-buttons">
            <ul class="filter-list clickable">
              <li
                class="filter-item"
                data-mode="saliency"
                onclick="showOverlay('saliency')"
              >
                <div class="label">Saliency Map</div>
                <div class="description">
                  Computational attention map that shows what the AI finds
                  visually important.
                </div>
                <div class="filter-line top-line"></div>
                <div class="filter-line rightright-line"></div>
              </li>
              <li
                class="filter-item"
                data-mode="viewpoint"
                onclick="showOverlay('viewpoint')"
              >
                <div class="label">Viewpoints</div>
                <div class="description">
                  Key observer perspectives inferred from image composition.
                </div>
                <div class="filter-line top-line"></div>
                <div class="filter-line rightright-line"></div>
              </li>
              <li
                class="filter-item"
                data-mode="centerline"
                onclick="showOverlay('centerline')"
              >
                <div class="label">Center Lines</div>
                <div class="description">
                  Symmetry and balance cues extracted from the visual center.
                </div>
                <div class="filter-line top-line"></div>
              </li>
              <li
                class="filter-item"
                data-mode="focusmask"
                onclick="showOverlay('focusmask')"
              >
                <div class="label">Focused part</div>
                <div class="description">
                  Areas emphasized by neural focus prediction models.
                </div>
                <div class="filter-line top-line"></div>
                <div class="filter-line rightright-line"></div>
              </li>
              <li
                class="filter-item"
                data-mode="shapes"
                onclick="showOverlay('shapes')"
              >
                <div class="label">Shape Abstraction</div>
                <div class="description">
                  Simplified dominant contours and object outlines detected.
                </div>
                <div class="filter-line top-line"></div>
                <div class="filter-line rightright-line"></div>
              </li>
              <li class="filter-item">
                <div class="filter-line top-line"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="icon-wrapper plus clickable">
        <label for="imgInput">
          <div class="icon-group" id="animatedIconPlus">
            <div class="icon-line line-1"></div>
            <div class="icon-line line-2"></div>
            <div class="icon-line line-3"></div>
            <div class="icon-line line-4"></div>
          </div>
        </label>
        <input
          type="file"
          id="imgInput"
          accept="image/*"
          style="display: none"
        />
      </div>

      <div class="icon-wrapper download clickable">
        <div
          class="icon-group"
          id="animatedIconDownload"
          onclick="downloadResult()"
        >
          <div class="icon-line line-1"></div>
          <div class="icon-line line-2"></div>
          <div class="icon-line line-3"></div>
          <div class="icon-line line-4"></div>
          <div class="icon-line line-5"></div>
          <div class="icon-line line-6"></div>
        </div>
      </div>
      <div class="testTitle">IMAGE OBJECTIFIER</div>
    </div>

    <div class="cursor-default">
      <svg
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.28613 0.435547L28.7881 8.48926L27.8848 11.3496L27.8291 11.332L27.8994 11.4004L23.0322 16.375L20.8877 14.2764L24.7275 10.3525L4.39746 3.93164L10.8457 24.2246L18.0957 17.0693L18.7891 16.376L29.3955 26.9824L27.2744 29.1035L18.7793 20.6084L11.9004 27.4004L11.833 27.332L11.8486 27.3799L8.98926 28.2891L0.892578 2.80566L3.28027 0.416992L3.28613 0.435547Z"
          fill="#FF0000"
        />
      </svg>
    </div>

    <div class="cursor-pointer">
      <svg
        width="31"
        height="34"
        viewBox="0 0 31 34"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M31 34H13V31H28V13H31V34ZM11 28.7568L11.1211 28.8779L11 28.999V29H10.999L9 31L0 22L2.12109 19.8789L8 25.7568V0H11V28.7568ZM16 18H13V0H16V18ZM21 18H18V13H21V18ZM26 18H23V13H26V18Z"
          fill="#FF0000"
        />
      </svg>
    </div>

    <svg id="filter-line-connector"></svg>

    <div id="imageOverlay" class="image-overlay" style="display: none">
      <div class="overlay-background"></div>
      <img id="overlayImage" src="" />
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
  </body>
</html>
